.hidden {
  display: none;
}
.css-highlighted {
  border: 3px solid red;
}
.js-unique-div {
  padding: 0;
}
.js-unique-div .js-move {
  cursor: move;
  background-color: goldenrod;
}
.js-unique-div ul {
  list-style: decimal;
}
